<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>


    <!-- Niveles de logging:
    TRACE (mas detallado),
     DEBUG (depuracion),
      INFO (general),
       WARN (advertencias),
        ERROR (errores),
         OFF (desactivado) -->

    <!-- Variables de configuracion de logging -->
    <property name="FLYWAY_LOG_LEVEL" value="OFF"/>

    <property name="DB_LOG_LEVEL" value="OFF"/>

    <!-- Appender de consola para ver todos los logs -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Loggers para Flyway -->
    <logger name="org.flywaydb" level="${FLYWAY_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.flywaydb.core" level="${FLYWAY_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="org.springframework.boot.autoconfigure.flyway" level="${FLYWAY_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Logger para ver errores de conexion a BD -->
    <logger name="org.springframework.jdbc" level="${DB_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.zaxxer.hikari" level="${DB_LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Root logger con salida a consola -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Appender para logs de carga masiva (archivo dedicado para diagnostico) -->
    <property name="LOG_PATH" value="logs"/>
    <appender name="CARGA_MASIVA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/carga_masiva.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/carga_masiva.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ELIMINACION_FORZADA_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/eliminaciones_forzadas.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/eliminaciones_forzadas.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{60} - %msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="PLANEACION_EXCEL_DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/planeacion_excel_debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/planeacion_excel_debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="INGRESO_OCM_DIAGNOSTICO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/ingreso_ocm_diagnostico.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/ingreso_ocm_diagnostico.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n%ex</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- Logger especifico para carga masiva -->
    <logger name="exotic.app.planta.resource.commons.CargaMasivaResource" level="DEBUG" additivity="true">
        <appender-ref ref="CARGA_MASIVA_FILE"/>
    </logger>
    <logger name="exotic.app.planta.service.commons.CargaMasivaService" level="DEBUG" additivity="true">
        <appender-ref ref="CARGA_MASIVA_FILE"/>
    </logger>
    <logger name="exotic.app.planta.service.inventarios.MovimientosService" level="DEBUG" additivity="true">
        <appender-ref ref="CARGA_MASIVA_FILE"/>
    </logger>
    <logger name="exotic.app.planta.service.commons.CargaMasivaTerminadoService" level="DEBUG" additivity="true">
        <appender-ref ref="CARGA_MASIVA_FILE"/>
    </logger>
    <logger name="exotic.app.planta.resource.commons.CargaMasivaTerminadoResource" level="DEBUG" additivity="true">
        <appender-ref ref="CARGA_MASIVA_FILE"/>
    </logger>

    <logger name="exotic.app.planta.resource.commons.EliminacionesForzadasResource" level="DEBUG" additivity="true">
        <appender-ref ref="ELIMINACION_FORZADA_FILE"/>
    </logger>
    <logger name="exotic.app.planta.service.commons.EliminacionesForzadasService" level="DEBUG" additivity="true">
        <appender-ref ref="ELIMINACION_FORZADA_FILE"/>
    </logger>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="WARN" additivity="true">
        <appender-ref ref="ELIMINACION_FORZADA_FILE"/>
    </logger>
    <logger name="org.springframework.dao" level="ERROR" additivity="true">
        <appender-ref ref="ELIMINACION_FORZADA_FILE"/>
    </logger>

    <logger name="exotic.app.planta.resource.produccion.PlaneacionProduccionDebugResource" level="DEBUG" additivity="true">
        <appender-ref ref="PLANEACION_EXCEL_DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="exotic.app.planta.service.produccion.PlaneacionExcelDebugService" level="DEBUG" additivity="true">
        <appender-ref ref="PLANEACION_EXCEL_DEBUG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="exotic.app.planta.service.inventarios.IngresoAlmacenService" level="INFO" additivity="true">
        <appender-ref ref="INGRESO_OCM_DIAGNOSTICO_FILE"/>
    </logger>
    <logger name="exotic.app.planta.service.compras.ComprasService" level="INFO" additivity="true">
        <appender-ref ref="INGRESO_OCM_DIAGNOSTICO_FILE"/>
    </logger>
</configuration>
